  html{
    background-color:#53d47e;
    font-family: Arial, Helvetica, sans-serif;
  }

  #divlateral{
    z-index:50;
    background-color:#3dcf9f;
    border-left-style: outset;
    border-right-style: outset;
    position: fixed;
    top: 125px;
    width: 100px;
    height: 1000px;
  }

  #divlateral button{
    background-color:#3dcf9f;
	  width: 100px;
	  height: 50px;
  }

  #titulo{
    height: 100px;
	  background-color:#3dcf9f;
	  border-style: outset;
	  box-shadow: 0 0 10px black;
  }

  #resumen{
    padding-left: 120px;
  }